<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Edit <%= user.displayName %> </title>
</head>
<body>
    <%- include("../partials/nav") %> 
    <form action="/user/edit?_method=PUT" method="POST">
        <input type="text" name="username" value="<%= user.username %>" required />
        <input type="text" name="displayName" value="<%= user.displayName %>" required />
        <input type="email" name="email" value="<%= user.email %> " required />
        <input class="btn btn-dark" type="submit" value="Update">
    </form>
    <% if (message) { %>
        <%= message %> 
    <% } %>
</body>
</html>