<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title><%= tUser.displayName %>'s page </title>
</head>
<body>
    <%- include("../partials/nav") %> 
    <%= tUser.displayName %> <br>
    <p>@<%= tUser.username %></p> <br>
    <a href="/user/<%= tUser.id %>/followers">Followers</a> <br>
    <a href="/user/<%= tUser.id %>/following">Following</a> <br>
    
    <% if (user.id === tUser.id) { %>
        <a href="/user/edit">Edit</a>
    <% } else if(user.following.includes(tUser.id)) {%>
        <form action="/user/<%= tUser.id %>/unfollow?_method=PUT" method="POST">
            <input type="submit" value="Unfollow"/>
        </form>
    <% } else { %>
        <form action="/user/<%= tUser.id %>/follow?_method=PUT" method="POST">
            <input type="submit" value="Follow"/>
        </form>
    <% } %> 
    <% quacks.forEach( quack => { %> 
        <a href="/quack/<%= quack.id %>">
            <%= quack.displayName %> <br>
            @<%= quack.username %> <br>
            <%= quack.content %>
        </a>

    <% }) %> 
</body>
</html>