<%- include("../partials/header", {title: `${tUser.displayName}'s page`}) %> 
<body>
    <div class="container">
        <div class="row">
            <%- include("../partials/nav") %> 
            <div class="col-sm-6">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <!-- <div class="card-image">
                        <img src="<%= /* tUser.userIcon.filename */ %> "/>
                    </div> -->
                    <h3 class="card-header">Profile</h3>
                    <div class="card-body">
                        <h5 class="card-title"><%= tUser.displayName %></h5>
                        <h6 class="card-subtitle"><p>@<%= tUser.username %></p></h6>
                        <a href="/user/<%= tUser.id %>/followers" class="card-link">Followers: <%= tUser.followers.length %> </a>
                        <a href="/user/<%= tUser.id %>/following" class="card-link">Following: <%= tUser.following.length %> </a>
                        <a href="/user/<%= tUser.id %>/likes" class="card-link">Likes</a>
                        <% if (user.id === tUser.id) { %>
                            <form>
                                <a href="/user/edit" class="card-link btn btn-info">Edit</a>
                            </form>
                        <% } else if(user.following.includes(tUser.id)) {%>
                            <form action="/user/<%= tUser.id %>/unfollow?_method=PUT" method="POST">
                                <input type="submit" value="Unfollow" class="btn  btn-primary"/>
                            </form>
                        <% } else { %>
                            <form action="/user/<%= tUser.id %>/follow?_method=PUT" method="POST">
                                <input type="submit" value="Follow" class="btn btn-primary"/>
                            </form>
                        <% } %>
                    </div>
                </div>
                    <%- include("../partials/quacks", {quacks: quacks}) %> 
            </div>
        </div>
    </div>
    <%- include("../partials/bootScripts") %> 
</body>
</html>