<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= tUser.displayName %>'s page </title>
</head>
<body>
    <%- include("../partials/nav") %> 
    <%= tUser.displayName %> <br>
    @<%= tUser.username %> 
    <% quacks.forEach( quack => { %> 
        <%= quack.dispalyName %> <br>
        <%= quack.username %> <br>
        <%= quack.content %>
        <%- include("../partials/test",{quack: quack}) %> 

    <% }) %> 
</body>
</html>