<%- include("../partials/header", {title: 'Edit Quack'}) %> 
<body>
    <div class="container">
        <div class="row">
            <%- include("../partials/nav") %> 
            <div class="col-sm-6">
                <div class="card">
                    <h3 class="card-header">Edit Quack</h3>
                    <div class="card-body">
                        <form action="/quack/<%= quack.id %>/edit?_method=PUT" method="POST">
                            <div class="form-group">
                                <input type='text' required placeholder="Whats on your mind..." name="content" value="<%= quack.content %>" class="form-control"/>
                            </div>
                            <input type='submit' class="btn btn-primary"/>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("../partials/bootScripts") %> 
</body>
</html>