<%- include("../partials/header", {title: 'Edit Quack-Back'}) %> 
<body>
    <div class="container">
        <div class="row">
            <%- include("../partials/nav") %> 
            <div class="col-sm-6">
                <div class="card">
                    <h3 class="card-header">Edit Quack-Back</h3>
                    <div class="card-body">
                        <form action="/quackBack/<%= quackBack.id %>/edit?_method=PUT" method="POST">
                        
                            <input type="text" name="content" value="<%= quackBack.content %>" class="card-input"/>
                            <input type="submit" value="Update Quack-Back" class="btn btn-primary" />
                        
                        </form>
                        <form action="/quackBack/<%= quackBack.id %>/delete?_method=DELETE" method="POST">
                            <input type="submit" value="Delete" class="btn btn-danger" /> 
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("../partials/bootScripts") %> 
</body>
</html>