<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title><%= quack.displayName %>'s quack</title>
</head>
<body>
    <%- include("../partials/nav") %> 
    <%= quack.user.displayName %> <br>
    <%= quack.user.username %> <br>
    <%= quack.content %> 
    <% if (quack.user.id == user.id) { %>
        <a href="/quack/<%= quack.id %>/edit">Edit</a>
        <form action="/quack/<%= quack.id %>/delete?_method=DELETE" method="POST">
            <input type="submit" value="Delete"/>
        </form>
    <% } %>
    <% if (quack.quackBacks.length > 0) { %>
        <p>quack-backs</p>
        <% quack.quackBacks.forEach( quackBack => { %> 

            <%= quackBack.user.displayName %> <br>
            <%= quackBack.user.username %> <br>
            <%= quackBack.content %> <br> 
            <% if (quackBack.user.id == user.id) { %>
                <a href="/quackBack/<%= quackBack.id %>/edit">
                    Edit
                </a> <br><br>
            <% } %>

        <% }) %> 
    <% } %>
    <form action="/quackBack/create" method="POST">
        <input type="text" name="content" placeholder="Quack-Back"/>
        <input type="hidden" name="quack" value="<%= quack.id %>"/>
        <input type="submit" value="Quack" />
    </form>
</body>
</html>