<%- include("../partials/header", {title: `${quack.user.displayName}'s Quack`}) %> 
<body>
    <div class="container">
        <div class="row">
            <%- include("../partials/nav") %> 
            <div class="col-sm">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <h3 class="card-header"><%= quack.user.displayName %>'s Quack</h3>
                    <div class="card-body">
                        <h5 class="card-title"><%= quack.user.displayName %></h5>
                        <h6 class="card-subtitle">@<%= quack.user.username %></h6>
                        <p class="card-text"><%= quack.content %></p>
                        <% if (quack.user.id == user.id) { %>
                            <a href="/quack/<%= quack.id %>/edit" class="card-link btn btn-info">Edit</a>
                            <form action="/quack/<%= quack.id %>/delete?_method=DELETE" method="POST">
                                <input type="submit" value="Delete" class="btn btn-danger"/>
                            </form>
                        <% } else { %>
                            <% if (quack.likes.includes(user.id)) { %>
                                <!--un-Like button -->
                                <form action="/user/<%= quack.id %>/unLike?_method=put" method="POST">
                                    <input type="submit" value="un-Like" class="btn btn-info"/>
                                </form>
                            <% } else { %>
                                <!-- like button -->
                                <form action="/user/<%= quack.id %>/like?_method=put" method="POST">
                                    <input type="submit" value="Like" class="btn btn-primary"/>
                                </form>
                            <% } %> 
                            <% if (quack.dislikes.includes(user.id)) { %>
                                <!-- grey dislike button -->
                                <form >
                                    <button class="btn btn-secondary">Dis-Like</button>
                                </form>
                            <% } else {%>
                                <!-- dislike button -->
                                <form action="/user/<%= quack.id %>/dislike?_method=put" method="POST">
                                    <input type="submit" value="Dis-Like" class="btn btn-danger"/>
                                </form>
                            <% } %> 
                            <% } %> 
                            <a href="/quack/<%= quack.id %>/likes" class="card-link">Likes</a>
                            <a href="/quack/<%= quack.id %>/dislikes" class="card-link">Dis-Likes</a>
                    </div>
                </div>
                <% if (quack.quackBacks.length > 0) { %>
                    <div class="card shadow-sm p-3 mb-5 bg-white rounded">
                        <h3 class="card-header">Quack-Backs</h3>
                        <div class="card-body">
                            <%- include("../partials/quackBacks", {quackBacks: quack.quackBacks}) %> 
                        </div>
                    </div>
                <% } %>
            </div>
            <div class="col-sm">
                <div class="card">
                    <h3 class="card-header">Quack-Back</h3>
                    <div class="card-body">
                        <form action="/quackBack/create" method="POST">
                            <div class="form-group">
                                <input type="hidden" name="quack" value="<%= quack.id %>" class="form-control"/>
                            </div>
                            <input type="text" name="content" placeholder="..."/>
                            <input type="submit" value="Quack" class="btn btn-primary"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("../partials/bootScripts") %> 
</body>
</html>