<%- include("../partials/header", {title: `${quack.user.displayName}'s Quack`}) %> 
<body>
    <div class="container">
        <div class="row">
            <%- include("../partials/nav") %> 
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><%= quack.user.displayName %></h5>
                        <h6 class="card-subtitle">@<%= quack.user.username %></h6>
                        <p class="card-text"><%= quack.content %></p>
                        <% if (quack.user.id == user.id) { %>
                            <a href="/quack/<%= quack.id %>/edit" class="card-link">Edit</a>
                            <form action="/quack/<%= quack.id %>/delete?_method=DELETE" method="POST">
                                <input type="submit" value="Delete" class="btn btn-primary"/>
                            </form>
                        <% } %>
                    </div>
                </div>
                <% if (quack.quackBacks.length > 0) { %>
                    <p>quack-backs</p>
                    <%- include("../partials/quackBacks", {quackBacks: quack.quackBacks}) %> 
                <% } %>
            </div>
            <div class="col-sm">
                <form action="/quackBack/create" method="POST">
                    <input type="text" name="content" placeholder="Quack-Back"/>
                    <input type="hidden" name="quack" value="<%= quack.id %>"/>
                    <input type="submit" value="Quack" />
                </form>
            </div>
        </div>
    </div>
</body>
</html>