<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= quack.displayName %>'s quack</title>
</head>
<body>
    <%- include("../partials/nav") %> 
    <%= quack.displayName %> <br>
    <%= quack.username %> <br>
    <%= quack.content %> 
</body>
</html>