<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- my css -->
    <link rel="stylesheet" href="/styles/style.css">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <%- include("../partials/nav") %>
            <div class="col-sm">
                <% feed.forEach( quack => { %> 

                    <a href="/user/<%= quack.user.id %>"><%= quack.user.displayName %></a> <br>
                    <a href="/user/<%= quack.user.id %>"><%= quack.user.username %></a> <br>
                    <a href="/quack/<%= quack.id %>"><%= quack.content %></a> <br> <br>

                <% }) %> 
            </div>
        </div>
    </div>
</body>
</html>